/* about section header */
.aboutyoga {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: aliceblue;
  margin: 30px;
  padding: 30px 90px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
}
.about-image img {
  width: 170px;
}
.about-details {
  padding: 10px;
}
.about-details h1 {
  color: #24660c;
}
