/* footer section  */
.footer {
  background-color: #092200;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.contact {
  padding: 10px;
  display: flex;
}
.contact img {
  margin-left: 20px;
}
