.App {
  text-align: center;
}
.App h2 {
  background-color: #24660c;
  margin: 0;
  color: #fff;
  padding: 5px 0;
}
.background {
  height: 100vh;
  background-image: url("./images/background-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
